/* stylelint-disable selector-class-pattern */
.product-list-page {
    min-height: 700px;
}

.product-list-page-wrapper {
    padding-bottom: 50px;
}

main .section.product-list-page-description {
    font-family: museo-sans, sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
    padding: 0;
}

.product-list-page-description p {
    font-family: museo-sans, sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 10px;
    padding: 0;
}

.product-list-page-description .button-container {
    display: inline-block;
    margin: 0 2px;
}

.product-list-page-description h2 {
    font-family: museo-sans, sans-serif;
    display: inline-block;
    padding-bottom: 25px;
    margin-bottom: 39px;
    border-bottom: 1px solid #ccc;
}

.product-list-page .ds-sdk-product-item__image img {
    aspect-ratio: 185 / 200;
    object-fit: contain;
}


.product-list-page .ds-sdk-product-item__image .relative {
    margin: 0 auto;
}

main .section.product-list-page-container {
    padding-top: 0;
}

.ds-widgets .font-headline-1,
.ds-widgets .font-body-1-default {
    font-family: museo-sans, sans-serif;
}

.ds-widgets .font-body-1-default {
    font-size: 15px;
    line-height: 18px;
}

.ds-widgets .ds-sdk-input__options .space-y-4>:not([hidden])~:not([hidden]) {
    margin-top: 20px;
}

.ds-widgets .ds-sdk-product-list__grid.gap-x-2xl {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 30px;
}

.ds-widgets .ds-sdk-product-item .flex-row {
    justify-content: center;
}

.ds-widgets .product-item-actions {
    display: flex;
    padding: 10px;
}

.ds-widgets .product-item-actions .compare-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-transform: uppercase;

    input {
        width: 19px;
        height: 19px;
        border: 1px solid #ccc;
        border-radius: 0;
    }
}

.ds-widgets .product-item-actions .wishlist-block {
    margin-left: auto;

    img {
        width: 26px;
        height: 26px;
    }
}

.ds-widgets .ds-sdk-product-item {
    position: relative;
    border: thin solid #bcc3ca;
    text-align: center;
}

.ds-widgets .ds-sdk-product-item:hover {
    border: thin solid #bcc3ca;
    box-shadow: none;
}

.ds-sdk-add-to-cart-button {
    display: none;
}

.ds-widgets .ds-sdk-product-price > p {
    font-size: 14px;
    color: #313a45;
}

.ds-widgets .ds-sdk-product-item__product-name.font-headline-2-strong {
    font-size: 14px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ds-widgets .ds-plp-facets__pills {
    align-items: center;
    padding-left: 0.75rem;
}

.ds-widgets .ds-plp-facets__pills .ds-sdk-pill {
    border-radius: 0;
    margin-right: 30px;
    background: rgb(227 227 226);
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ds-widgets .ds-plp-facets__pills .ds-sdk-pill .ds-sdk-pill__label {
    font-size: 15px;
}

.ds-widgets .ds-plp-facets__pills .ds-sdk-pill:hover {
    text-decoration: none;
}

.ds-widgets .ds-plp-facets__pills button {
    padding-left: 0;
    padding-right: 0;
}

.ds-widgets .ds-plp-facets__pills button span {
    font-size: 14px;
    text-decoration: none;
    color: rgb(0 124 191);
}

.ds-widgets .ds-widgets-_actions {
    padding-left: 0;
    padding-right: 16px;

    .ds-widgets_actions_header,
    .ds-sdk-filter-button-desktop {
         display: none;
    }

    .flex.pb-4 {
        display: none;
    }

    button {
        font-size: 18px;
        display: block;
        width: 100%;
        height: 46px;
        border-radius: var(--shape-border-radius-3);
    }
}

.ds-widgets .ds-widgets-_actions .ds-plp-facets__list {
    .ds-sdk-input:nth-child(1) {
        .ds-sdk-labelled-input {
            input {
                display: none;
                visibility: hidden;
            }

            label {
                font-size: 18px;
                text-transform: uppercase;
                vertical-align: center;
                text-align: center;
                line-height: 44px;
                width: 100%;
                border-radius: var(--shape-border-radius-3);
                border: 1px solid #000;
                margin-left: 0;
                height: 46px;
                color: #000;

                span {
                    display: none;
                    font-size: 18px;
                }

                &:hover {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
}

.ds-widgets .ds-widgets-_actions .ds-plp-facets__list .ds-sdk-input__label {
    font-size: 20px;
    font-weight: 100;
}

.ds-widgets .ds-widgets-_actions .ds-sdk-filter-button-desktop button {
    text-transform: uppercase;
    padding: 11px 30px;
}

main .section.product-list-page-container .ds-widgets .ds-widgets_results {
    padding-top: 0;
    padding-left: 15px;
}


main .section.product-list-page-container .ds-widgets .ds-sdk-sort-dropdown button {
    margin-left: 5px;
}

main .section.product-list-page-container .ds-widgets .ds-sdk-per-page-picker button {
    height: 40px;
    font-family: museo-sans, sans-serif;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid #ddd;
}

main .section.product-list-page-container .ds-widgets .ds-widgets_results button.ring-black,
main .section.product-list-page-container .ds-widgets .ds-widgets_results .ds-sdk-sort-dropdown button {
    height: 40px;
    font-family: museo-sans, sans-serif;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid #ddd;
    margin-left: 10px;
}

main .section.product-list-page-container .ds-widgets .ds-sdk-sort-dropdown button span {
    font-family: museo-sans, sans-serif;
    font-size: 14px;
}

main .section.product-list-page-container .ds-widgets .ring-black button span {
    font-family: museo-sans, sans-serif;
    font-size: 14px;
}

main .section.product-list-page-container .ds-widgets .ds-sdk-per-page-picker {
    background: none;
    border: 0;
    border-radius: 0;
}

main .section.product-list-page-container .ds-widgets .ds-plp-pagination .ds-plp-pagination__item {
    font-family: museo-sans, sans-serif;
    font-size: 15px;
}

@media (width >= 750px) {
    .product-list-page {
        min-height: auto;
    }
}